<!-- For background image -->
<div id="bg1">
	<form>
		<div class="container background">
			<h2 class="h2background">Find Professionals</h2>
			<div class="input-group col-md-6">
			    <input type="text" class="form-control" placeholder="search...">
				<span class="input-group-btn">
				 <button class="btn btn-danger" type="button">Search</button>
			    </span>
			</div>
		</div>
	</form>
</div>
<!-- background image close -->

<!-- For View Porfiles -->
<div class="container profile">
	<div class="row rprofile">
		<div class="col-sm-3 image">
			<%= image_tag "12.png", class: "img-circle img-responsive", style: "width: 150px" %>
			<h4>Tom</h4>
			<input type="button" value="View Profile">
		</div>
		<div class="col-sm-3 image">
			<%= image_tag "12.png", class: "img-circle img-responsive", style: "width: 150px" %>
			<h4>Tom</h4>
			<input type="button" value="View Profile">
		</div>
		<div class="col-sm-3 image">
			<%= image_tag "12.png", class: "img-circle img-responsive", style: "width: 150px" %>
			<h4>Tom</h4>
			<input type="button" value="View Profile">
		</div>
		<div class="col-sm-3 image">
			<%= image_tag "12.png", class: "img-circle img-responsive", style: "width: 150px" %>
			<h4>Tom</h4>
			<input type="button" value="View Profile">
		</div>
	</div>
</div>
<!-- View Porfiles close -->
			<!-- <div class="row">
				<div class="col-sm-3">
					<input type="text" class="form-control" placeholder="Search" style="margin-left: 330px; box-shadow: 1px 1px 1px black;">
				</div>
				<div class="col-sm-9 input-group">
					<input type="button" class="btn btn-large 
					form-control btn-danger" value="Serach" style="float: right;margin-right: 326px;  box-shadow: 1px 1px 1px black;" >
					<span class="input-group-btn">
					 <button class="btn btn-default" type="button">Go!</button>
					</span>
				</div> -->
