<!-- For background image -->
	<div id="bg1">
	<form>
		<div class="container" style="padding-top: 60px; padding-bottom: 100px;">
			<h2 style="text-align: center; color: black; text-shadow: 2px 2px 2px white">Find Professionals</h2>
			<div class="row">
				<div class="col-sm-3">
					<input type="text" class="form-control" placeholder="Search" style="margin-left: 330px; box-shadow: 1px 1px 1px black;">
				</div>
				<div class="col-sm-9">
					<input type="button" class="btn btn-large btn-danger" value="Serach" style="float: right;margin-right: 326px;  box-shadow: 1px 1px 1px black;" >
				</div>
			</div>
		</div>
	</form>
</div>
<!-- background image close -->

<!-- For View Porfiles -->
<div class="container" style="width: 100%; margin-top: 20px;">
	<div class="row" style="margin-left: 10px;">
		<div class="col-sm-3">
			<%= image_tag "12.png", class: "img-circle img-responsive", style: "width: 150px" %>
			<h4 style="margin-left: 60px;">Tom</h4>
			<input type="button" value="View Profile" style="margin-left: 40px;">
		</div>
		<div class="col-sm-3">
			<%= image_tag "12.png", class: "img-circle img-responsive", style: "width: 150px" %>
			<h4 style="margin-left: 60px;">Tom</h4>
			<input type="button" value="View Profile" style="margin-left: 40px;">
		</div>
		<div class="col-sm-3">
			<%= image_tag "12.png", class: "img-circle img-responsive", style: "width: 150px" %>
			<h4 style="margin-left: 60px;">Tom</h4>
			<input type="button" value="View Profile" style="margin-left: 40px;">
		</div>
		<div class="col-sm-3">
			<%= image_tag "12.png", class: "img-circle img-responsive", style: "width: 150px" %>
			<h4 style="margin-left: 60px;">Tom</h4>
			<input type="button" value="View Profile" style="margin-left: 40px;">
		</div>
	</div>
</div>
<!-- View Porfiles close -->
