.fme
{
 margin-top: 40px; 
 font-weight: bold;
}
.fme ul li
  {
   list-style-type: none;
   margin-top: 20px;
  }
.demopadding {
  /*margin:50px auto;*/
  width:140px;
  text-align:center;
}
.icon {
  position:relative;
  text-align:center;
  width:0px;
  height:0px;
  padding:20px;
  border-top-right-radius:  20px;
  border-top-left-radius:   20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius:  20px; 
  -moz-border-radius:     20px 20px 20px 20px;
  -webkit-border-radius:    20px 20px 20px 20px;
  -khtml-border-radius:     20px 20px 20px 20px;  
  color:#FFFFFF;
}
.icon i {
  font-size:20px;
  position:absolute;
  left:9px;
  top:10px;
}
.icon.social {
  float:left;
  margin:0 5px 0 0;
  cursor:pointer;
  background:#6d6e71 ;
  color:#262626;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;  
}
.icon.social:hover {
  background:#262626 ;
  color:#6d6e71;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-filter: drop-shadow(0 1px 10px rgba(0,0,0,.8));
  -moz-filter:  drop-shadow(0 1px 10px rgba(0,0,0,.8));
  -ms-filter:     drop-shadow(0 1px 10px rgba(0,0,0,.8));
  -o-filter:    drop-shadow(0 1px 10px rgba(0,0,0,.8));
  filter:       drop-shadow(0 1px 10px rgba(0,0,0,.8));   
}
.icon.social.fb i {
  color: white;
  left:13px;
  top:10px;
}
.icon.social.tw i {
  color: white;
  left:11px;
}
.icon.social.in i {
  color: white;
  left:11px;
}
.icon.social.li i {
  color: white;
  left:11px;
}
.box{       
        display: none;
   }

.nav-drp.nav-dp.account 
{
margin-left: 850px;
margin-top: 15px;
}

.background
{
  padding-top: 60px;
 padding-bottom: 100px;
}

.h2background
{
  text-align: center; 
  color: black; 
  text-shadow: 2px 2px 2px white
}
.input-group
{
  margin-left: 300px;
}
.profile
{
   width: 100%; 
   margin-top: 50px;
}
.rprofile
{
 margin-left: 90px;
}
.image h4
{
  margin-left: 60px;
}
.image input
{
  margin-left: 40px;
}
.account 
{
  margin-left: 850px;
  margin-top: 15px;
}
.user 
{
  margin-left: 20px; 
  margin-right: 20px;
}
.f1
{ 
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid lightgrey;
}

.f1.row
{
  margin-left: 50px;
}
.img
{
 margin-top: 20px;
}

.custom-checkbox {
   position: relative;
   padding-left: 35px;
   line-height: 20px;
 }

 .custom-checkbox input {
   position: absolute;
   opacity: 0;
 }

 .checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 18px;
   width: 18px;
   background-color: transparent;
   border: 1px solid #6d6d6d;
 }

 .custom-checkbox input:checked ~ .checkmark {
   background:  #ff214f;
   border: 1px solid #526362;
 }
 .custom-checkbox .checkmark:after {
   left: 6px;
   top: 2px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }
 .custom-checkbox input:checked ~ .checkmark:after, .custom-checkbox input:checked ~ .radiobtn:after {
   display: block;
 }
 .checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }
 #company_services .checkbox-cols {
   margin-bottom: 2%;
 }

.signup
{
  text-align: center;
  margin-top: 40px;
}
.sign
{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 150px;
  margin-right: 150px;
}
.signbtn
{
  text-align: center;
  margin-bottom: 50px;
}
#signcontainer
{
  width: 60%;
  border: 1px solid #CCCCCC;

}
.signlink
{
  text-align: center;
  margin-bottom: 40px;
}

.form-control.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 25px;
    border-color: grey;
    margin-top: 10px;
}

.btn.btn-md.btn-primary.sign{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 20px;
}

.logbtn
{
  text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
}
/*.form-control.log 
{
     border-radius: 25px;
}*/
